* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #8cb5c7;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
}
.download {
  background-color: #d9d9d9;
  border: 3px solid black;
  color: black;
  padding: 5px 42px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
}
nav {
  margin-right: 20px;
}
.nav a {
  margin-right: 20px;
  display: inline-block;
}
a:link {
  color: black;
  text-decoration: none;
}
a {
  color: black;
  transition: 0.3s;
  font-family: "Poppins", Sans-serif;
}

a:hover {
  color: rgb(58, 130, 23);
  font-weight: bold;
  text-decoration: underline rgb(58, 130, 23);
  text-decoration: none;
}
#copyright {
  text-align: center;
  background-color: white;
  padding: 5px;
}
body {
  background-image: url(https://cdn.discordapp.com/attachments/914232457061085207/1008573813358874654/unknown.png);
  background-size: cover;
}

#headerTitulo {
  text-align: center;
  padding: 20px;
}

.menusFuncionalidades {
  background-color: rgba(20, 92, 158, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.melhorferramentas {
  padding: 58px 100px;
}
.ferramentas {
  display: flex;
  align-items: center;
}
.facilutil {
  padding: 58px 100px;
}
.facilidade {
  display: flex;
  align-items: center;
}

.meiuca {
  display: flex;
  align-items: center;
}
.fotosmeiuca {
  display: flex;
}
.foto1 {
  margin-left: 200px;
}
.foto2 {
  margin-left: 200px;
  margin-right: 85px;
}
.meioMain {
  background-color: rgba(22, 19, 171, 0.2);
  margin-top: 25px;
  padding: 10px;
}
.frases {
  display: block;
}

.Mrecursos {
  text-align: center;
  margin: 55px 0;
  font-size: 20px;
}
.PerfilT {
  display: flex;
  align-items: center;
  margin: 80px 60px;
}
.sinoT {
  display: flex;
  align-items: center;
  margin: 80px 60px;
}
.brasilT {
  display: flex;
  align-items: center;
  margin: 80px 60px;
}
.foneT {
  display: flex;
  align-items: center;
  margin: 80px 60px;
}
